@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$color-bg: #1e1e1e;
$color-white: #ffffff;
$color-black: #1e1e1e;

$hover-colors: (
  1: #ed7e7e,
  2: #7eed7e,
  3: #7ec2ed,
  4: $color-black,
);

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;

  background: $color-black;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.main-header {
  display: flex;
  justify-content: center;
  width: 100%;
  background: $color-white;
  box-shadow: 0px 4px 14px -6px rgba(0, 0, 0, 0.2);
  z-index: 1;

  .main-header-container {
    display: flex;
    justify-content: space-between;
    height: 90px;
    max-width: 1200px;
    width: 100%;
    padding: 4px 16px 0 16px;

    .main-header-logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      align-items: center;

      p {
        padding: 0;
        font-weight: 700;
        margin: 6px 0 0 0;
        color: $color-black;
      }
    }

    .main-header-logo > img {
      width: 40px;
      height: 40px;
    }
  }

  .main-header-menu {
    color: $color-black;
    display: flex;
    align-items: flex-end;
    min-height: 50px;
    min-width: 50px;

    ul {
      display: flex;
      align-content: flex-end;
      align-items: flex-end;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: flex;
        margin-left: 12px;
        background: url("./assets/img/bottom-button.png");
        background-repeat: no-repeat;
        background-position: 0 24px;
        transition: background-position 0.3s ease;

        a {
          color: $color-black;
          text-decoration: none;
          padding: 6px;
          transition: 0.3s color;

          &:hover {
            color: $color-white;
          }
        }

        &:hover {
          background-position: 0px 0;
        }
      }
    }
  }
}

.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;

  .main-content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-white;
    width: 48%;
    min-height: 500px;

    h1 {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 40px;
      font-weight: 700px;
      margin-bottom: 20px;
    }

    h2 {
      border-left: 6px solid $color-white;
      padding-left: 6px;
      font-size: 20px;
      font-weight: 700px;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 20px;
    }
  }

  .main-content-alpha {
    display: flex;
    justify-content: end;
    height: 500px;
    width: 48%;
    background: rgba(255, 255, 255, 0.5);

    span {
      display: flex;
      justify-content: flex-end;
      height: 500px;
      width: 16%;

      span {
        display: block;
        width: 33%;
        height: 500px;
        transition: 0.3s background;
      }
    }

    .main-content-alpha-text {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $color-white;
      color: $color-black;
      width: 84%;

      H2 {
        font-size: 36px;
      }

      p {
        margin-left: 12px;
      }
    }
  }
}

@each $i, $color in $hover-colors {
  .main-content-alpha-span#{$i} {
    background: rgba(255, 255, 255, (0.3 * ($i - 1)));

    &:hover {
      background: $color;
    }
  }
}
